In [8]:
# Standard libraries
import re
import csv
import nltk
import string
import numpy as np
import pandas as pd
#import seaborn as sns
#import matplotlib.pyplot as plt

In [12]:
#Import data set
df_test = pd.read_csv('data/test_with_no_labels.csv')
df_train = pd.read_csv('data/train.csv')

print(df_test.shape)
print(df_train.shape)

display(df_test.head())
display(df_train.head())

percent_duplicates = round((1-(df_train['message'].nunique()/len(df_train['message'])))*100,2)
print('Duplicated tweets in train data:')
print(percent_duplicates,'%')

(10546, 2)
(15819, 3)

                                             message  tweetid
0  Europe will now be looking to China to make su...   169760
1  Combine this with the polling of staffers re c...    35326
2  The scary, unimpeachable evidence that climate...   224985
3  @Karoli @morgfair @OsborneInk @dailykos \nPuti...   476263
4  RT @FakeWillMoore: 'Female orgasms cause globa...   872928

   sentiment                                            message  tweetid
0          1  PolySciMajor EPA chief doesn't think carbon di...   625221
1          1  It's not like we lack evidence of anthropogeni...   126103
2          2  RT @RawStory: Researchers say we have three ye...   698562
3          1  #TodayinMaker# WIRED : 2016 was a pivotal year...   573736
4          1  RT @SoyNovioDeTodas: It's 2016, and a racist, ...   466954

Duplicated tweets in train data:
10.05 %

In [13]:
def modifyDf():
    df = df_train.copy()
    sentiment = df['sentiment']
    
    word_sentiment = []    
    for index in sentiment :
        if index == 1 :
            word_sentiment.append('Pro')
        elif index == 0 :
            word_sentiment.append('Neutral')
        elif index == -1 :
            word_sentiment.append('Anti')
        else :
            word_sentiment.append('News')
            
    df['sentiment'] = word_sentiment
    
    return df

df_train_copy = modifyDf()
df_train_copy.head()

  sentiment                                            message  tweetid
0       Pro  PolySciMajor EPA chief doesn't think carbon di...   625221
1       Pro  It's not like we lack evidence of anthropogeni...   126103
2      News  RT @RawStory: Researchers say we have three ye...   698562
3       Pro  #TodayinMaker# WIRED : 2016 was a pivotal year...   573736
4       Pro  RT @SoyNovioDeTodas: It's 2016, and a racist, ...   466954

In [14]:
def hashtag_extract(tweet):
    hashtags = []
       
    for i in tweet:
        ht = re.findall(r"#(\w+)", i)
        hashtags.append(ht)
        
    hashtags = sum(hashtags, [])
    frequency = nltk.FreqDist(hashtags)
    
    hashtag_df = pd.DataFrame({'hashtag': list(frequency.keys()),'count': list(frequency.values())})
    hashtag_df = hashtag_df.nlargest(15, columns="count")

    return hashtag_df

pro = hashtag_extract(df_train_copy['message'][df_train_copy['sentiment'] == 'Pro'])
anti = hashtag_extract(df_train_copy['message'][df_train_copy['sentiment'] == 'Anti'])
neutral = hashtag_extract(df_train_copy['message'][df_train_copy['sentiment'] == 'Neutral'])
news = hashtag_extract(df_train_copy['message'][df_train_copy['sentiment'] == 'News'])

pro.head()

            hashtag  count
19          climate    187
24   BeforeTheFlood    129
68    climatechange     94
13  ImVotingBecause     62
4             COP22     59

In [15]:
def CleanTweets(tweet):
    tweet = tweet.lower()
    tweet = re.sub('@[\w]*','',tweet)
    tweet = re.sub(r'https?:\/\/.*\/\w*', '', tweet)
    tweet = re.sub(r'#\w*', '', tweet)    
    tweet = re.sub(r'\d+', '', tweet)  
    tweet = re.sub(r"[,.;':@#?!\&/$]+\ *", ' ', tweet)
    tweet = re.sub(r"U+FFFD ", ' ', tweet)
    tweet = re.sub(r'\s\s+', ' ', tweet)
    tweet = tweet.lstrip(' ')                        

    return tweet

df_train_copy['message'] = df_train_copy['message'].apply(CleanTweets)

df_train_copy.head()

  sentiment                                            message  tweetid
0       Pro  polyscimajor epa chief doesn t think carbon di...   625221
1       Pro  it s not like we lack evidence of anthropogeni...   126103
2      News  rt researchers say we have three years to act ...   698562
3       Pro  wired was a pivotal year in the war on climate...   573736
4       Pro  rt it s and a racist sexist climate change den...   466954

In [16]:
def get_wordnet_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV    
    else:
        return wordnet.NOUN

def lemma(df):
    df['length'] = df['message'].str.len()
    df['tokenized'] = df['message'].apply(word_tokenize)
    df['pos_tags'] = df['tokenized'].apply(nltk.tag.pos_tag)
        
    wnl = WordNetLemmatizer()
    #df['pos_tags'] = df['pos_tags'].apply(lambda x: [(word, get_wordnet_pos(pos_tag)) for (word, pos_tag) in x])
    #df['lemmatized'] = df['pos_tags'].apply(lambda x: [wnl.lemmatize(word, tag) for word, tag in x])
    #df['lemmatized'] = [' '.join(map(str, l)) for l in df['lemmatized']]  
    return df

df_train_copy = lemma(df_train_copy)
df_train_copy.head()

NameError: name 'word_tokenize' is not defined