In [1]:
# Standard libraries
import re
import csv
import nltk
import string
import numpy as np
import pandas as pd
#import seaborn as sns
#import matplotlib.pyplot as plt

In [3]:
#Import data set
test = pd.read_csv('data/test_with_no_labels.csv')
train = pd.read_csv('data/train.csv')

In [4]:
test.head()

                                             message  tweetid
0  Europe will now be looking to China to make su...   169760
1  Combine this with the polling of staffers re c...    35326
2  The scary, unimpeachable evidence that climate...   224985
3  @Karoli @morgfair @OsborneInk @dailykos \nPuti...   476263
4  RT @FakeWillMoore: 'Female orgasms cause globa...   872928